<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors!</title>
</head>
<body>
<div th:replace="fragments/menu-fragment :: menu"></div>
<h3>Add Author:</h3>
<form method="post">
    <label>First Name: <input type="text" id="firstName" name="firstName"></label>
    <label>Last Name: <input type="text" id="lastName" name="lastName"</label>
    <input type="submit" value="Submit">
</form>
<h2>Authors:</h2>
<th:block th:each="author : ${authors}">
    <ul>
        <li><a th:href="'/authors/' + ${author.getId()} + '/books'" th:text="${author.getFullName()}"></a></li>
    </ul>
</th:block>
</body>
</html>