<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books!</title>
</head>
<body>
<div th:replace="fragments/menu-fragment :: menu"></div>
<h3>Add book:</h3>
<form method="post">
  <label>Title: <input type="text" id="title" name="title"></label>
  <input type="submit" value="Submit">
</form>
<h2>Books:</h2>
<th:block th:each="book : ${books}">
  <ul>
    <li><a th:href="'/books/' + ${book.getId()}" th:text="'Title: ' + ${book.getTitle()}"></a></li>
  </ul>
</th:block>
</body>
</html>