<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Genres!</title>
</head>
<body>
<div th:replace="fragments/menu-fragment :: menu"></div>
<h3>Add book:</h3>
<form method="post">
  <label>Type: <input type="text" id="type" name="type"></label>
  <input type="submit" value="Submit">
</form>
<h2>Genres:</h2>
<th:block th:each="genre : ${genres}">
  <ul>
    <li><a th:href="'/genres/' + ${genre.getId()}" th:text="'Type: ' + ${genre.getType()}"></a></li>
  </ul>
</th:block>
</body>
</html>