<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ISBNs!</title>
</head>
<body>
<div th:replace="fragments/menu-fragment :: menu"></div>
<h3>Add book:</h3>
<form method="post">
  <label>Number: <input type="text" id="number" name="number"></label>
  <label>Country: <input type="text" id="country" name="country"></label>
  <input type="submit" value="Submit">
</form>
<h2>ISBNs:</h2>
<th:block th:each="isbn : ${allIsbns}">
  <ul>
    <li th:text="'Number: ' + ${isbn.getNumber()}"></li>
    <li th:text="'Country: ' + ${isbn.getCountry()}"></li>
    <th:block th:if="${isbn.getBook()}">
      <li><a th:href="'/books/' + ${isbn.getBook().getId()}" th:text="'Book: ' + ${isbn.getBook().getTitle()}"></a></li>
    </th:block>
  </ul>
</th:block>
</body>
</html>